* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --primary-black-color: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", serif;
    font-size: 1.6rem;
}

/* ====================================================== Common ====================================================== */
a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);

    margin: 0 auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-width: 113px;
    height: 52px;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    border-radius: 6px;

    color: #fff;
    background: var(--primary-black-color);
}

.btn:hover {
    opacity: 0.9;
}

.section-title {
    display: flex;
    align-items: center;

    margin-bottom: 12px;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

    color: #696d77;
}

.section-title::before {
    content: "";

    width: 18px;
    height: 2px;

    margin-right: 12px;

    background: #696d77;
}

.section-desc {
    margin-top: 20px;

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.17;

    color: #696d76;
}

.section-heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;

    color: #212832;
}

/* ====================================================== Header ====================================================== */
.header {
    padding: 24px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    margin-right: 7px;
}

.logo__name {
    font-weight: 600;

    color: var(--primary-black-color);
}

.nav__list {
    display: flex;
    column-gap: 48px;

    margin-left: 70px;
}

.nav__item {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

    color: #696d76;
}

.nav__item:hover {
    text-shadow: 1px 0 0 var(--primary-black-color);
}

.nav__item--active {
    position: relative;

    font-weight: 600;

    color: var(--primary-black-color);
}

.nav__item--active::after {
    content: "";

    display: inline-block;

    position: absolute;
    left: 0;
    bottom: -4px;

    width: 100%;
    height: 1px;

    background: #7264d6;
}

.header__cta {
    margin-left: auto;
}

.header-cta {
    margin-right: 28px;

    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;

    color: #212832;
}

/* ====================================================== Hero ====================================================== */
.hero {
    margin-top: 76px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.hero__content {
    max-width: 46%;
}

.hero__content-heading {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;

    color: #212832;
}

.hero__content-heading--strong {
    color: #7264d6;
}

.hero__form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    margin: 40px 0 20px;
}

.hero__form-input {
    width: 100%;

    padding: 23px;
    border: none;
    outline: none;
    border-radius: 8px;

    font-size: 1.4rem;

    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form-input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

    color: #696d76;
}

.hero__form-submit {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    width: 149px;
    height: 58px;

    border: none;
    outline: none;
    border-radius: 8px;

    background: #7264d6;

    cursor: pointer;
}

.hero__content-note {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;

    color: #696d76;
}

.hero__media {
    max-width: 54%;

    position: relative;
}

.hero__media-img {
    width: 296px;
    height: 562px;
}

.hero__dep {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 113px;
    left: -100px;

    width: 174px;
    height: 46px;

    padding: 16px 10px;
    border-radius: 6px;

    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__dep-img {
    margin-right: 8px;
}

.hero__dep-desc {
    margin-right: 19px;

    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;

    color: #31456a;
}

.hero__dep-money {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */

    color: #4ab5e3;
}

.hero__interest {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: absolute;
    top: 127px;
    right: -174px;

    width: 130px;
    height: 130px;

    border-radius: 50%;

    background: #da6464;
}

.hero__interest-data {
    font-size: 4.4rem;
    font-weight: 600;

    color: #fff;
}

.hero__interest-desc {
    font-size: 1.6rem;
    font-weight: 400;

    color: #fff;
}

.hero__secured {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;

    position: absolute;
    right: -50px;
    bottom: 61px;

    width: 124px;
    height: 68px;

    border-radius: 10px;

    background: #439f90;
}

.hero__secured-money {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;

    color: #fff;
}

.hero__secured-title {
    margin-top: 5px;

    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;

    color: #fff;
}

/* ====================================================== Work ====================================================== */
.work {
    padding: 65px 0;
    margin-top: 95px;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.work__media {
    position: relative;

    min-width: 49%;
}

.work__media-img {
    position: relative;

    width: 456px;
}

.work__media-img::after {
    content: url(../img/work-bg.svg);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
}

.work__img {
    width: 100%;

    margin-left: 7px;
}

.work-img__icon {
    position: absolute;
    top: 70px;
    right: 60px;
}

.work__media-info {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    bottom: 96px;

    width: 226px;
    height: 70px;

    padding: 15px 30px 15px 15px;
    border-radius: 8px;

    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.work__media-active {
    margin-left: 10px;
}

.work__media-title {
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;

    color: #212832;
}

.work__media-desc {
    margin-top: 5px;

    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;

    color: #696d76;
}

.work__list {
    margin-top: 70px;
}

.work-item {
    margin-top: 30px;
}

.work__list-heading {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.46;

    color: #212832;
}

.work__list-desc {
    margin-top: 16px;

    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;

    color: #696d76;
}
